<div class="container">
  <div>
    <h1>George Mason University</h1>
    <h3>Student Survey Form</h3>

    <form (ngSubmit)="onSubmit()" #studentSurveyForm="ngForm">

      <div class="form-group">
        <label for="studentID">Student ID</label>
        <input type="text" class="form-control" id="studentID" required
               [(ngModel)]="model.studentid" name="studentID"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required
               [(ngModel)]="model.studentname" name="name"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required
               [(ngModel)]="model.email" email="true" name="email">
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-control" id="phone" required
               [(ngModel)]="model.telnum" name="phone">
      </div>

      <div class="form-group">
        <label for="street">City</label>
        <input type="text" class="form-control" id="street" required
               [(ngModel)]="model.street" name="street">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" required
               [(ngModel)]="model.city" name="city">
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" required
               [(ngModel)]="model.state" name="state">
      </div>

      <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" required minlength="5" maxLength="5"
               [(ngModel)]="model.zip" name="zip">
      </div>

      <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" placeholder="www.google.com" id="url"
               [(ngModel)]="model.url" name="url">
      </div>

      <div class="form-group">
        <label for="visitDate">Visit Date</label>
        <input type="text" class="form-control" placeholder="MM/DD/YYYY" id="visitDate"
               [(ngModel)]="model.surveydate" name="visitDate">
      </div>

      <div class="form-group">
      <label for="liked">What did you like most about the campus?</label>
      <div *ngFor="let l of likeMost">
          <input type="checkbox"
                 name="options"
                 id="liked"
                 value="{{l.value}}"
                 [(ngModel)]="l.checked"/>
        <span>{{l.name}}</span>
      </div>
      </div>


      <div class="form-group">
        <label for="heard">How'd you hear about us?</label>
        <div *ngFor="let h of heard; let i = index" formArrayName="heard">
          <input type="radio" id="heard" name="heard" [(ngModel)]="model.heard" value="{{h}}" name="heard" required>
          <span>{{h}}</span>
        </div>
      </div>

      <div class="form-group">
        <label for="recommend">How likely are you to recommend GMU to other students?</label>
        <select class="form-control" id="recommend"

                [(ngModel)]="model.recommend" name="recommend"
                #power="ngModel">
          <option *ngFor="let rec of recommend" [value]="rec">{{rec}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="graduationMonth">Graduation Month</label>
        <input type="text" class="form-control" id="graduationMonth"
               [(ngModel)]="model.gradmon" name="graduationMonth">
      </div>

      <div class="form-group">
        <label for="graduationYear">Graduation Year</label>
        <input type="text" class="form-control" id="graduationYear"
               [(ngModel)]="model.gradyear" name="graduationYear">
      </div>

      <div class="form-group">
        <label for="data">Data</label>
        <input type="text" class="form-control" id="data" required
               [(ngModel)]="data" name="data">
      </div>

      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea type="text" class="form-control" id="Comments"
                  [(ngModel)]="model.comments" name="comments"></textarea>
      </div>
      <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
      <button type="submit" class="btn btn-success" [disabled]="!studentSurveyForm.form.valid">Submit</button>
    </form>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <a class="gmu-logo" href="https://www2.gmu.edu">
        <img  height="80" width="80" src="https://app.truework.com/api/company/27161/logo?fallback=1">
    </a>
  </div>
</footer>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->